/**基本格式开始***************/
* {
	/*word-break: break-all;*/
}
body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,input,textarea,p {
	margin:0px;
	padding:0px;
	font-size:13px;
	font-family:Tahoma;
}
ul {
	list-style:none;
}
img,a img {
	border:none;
}
a {
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
body {
	background:#f4f4f4;
	color:#333;
}
#top {
	width:100%;
	background:url(bg.jpg);
	height:46px;
	line-height:46px;
	position:fixed;
	top:0px;
	left:0px;
}
#top .logo {
	width:140px;
	color:#fff;
	font-size:20px;
	font-weight:bold;
	text-indent:10px;
	float:left;
}
#top ul.nav {
	float:left;
}
#top ul.nav li {
	float:left;
}
#top ul.nav li a {
	color:#b5d4ea;
	padding:10px;
}
#top ul.nav li a:hover {
	color:#fff;
	text-decoration:none;
}
#top ul.nav li a.current {
	font-weight:bold;
}
#top .login_info {
	float:right;
	color:#b5d4ea;
	margin:0 30px 0 0;
}
#top .login_info a {
	color:#b5d4ea;
}
#sidebar {
	width:140px;
	position:fixed;
	top:46px;
	left:0px;
}
#sidebar ul {
	margin:10px 0 0 0;
}
#sidebar ul li div.small_title {
	color:#333;
	padding:4px 0 4px 15px;
	background:#ddd;
}
#sidebar ul.child {
	margin:3px 0 3px 0;
}
#sidebar ul li a {
	color:#333;
	display:block;
	padding:4px 0 4px 28px;
	background:url(bg.png) -265px 9px no-repeat;
}
#sidebar ul li a:hover {
	text-decoration:none;
	background:url(bg.png) -265px 9px no-repeat #e9e9e9;
}
#sidebar ul li a.current {
	background:url(bg.png) -265px -11px no-repeat;
}
#main {
	width:90%;
	margin:57px 0 0 160px;
}
#main .title {
	width:100%;
	height:30px;
	line-height:30px;
	text-indent:10px;
	background:#e6e6e6;
	color:#666;
	font-weight:bold;
}
#main .explain {
	color:#000;
	padding:14px 0;
	background:url(hr.png) 0px bottom repeat-x;
}
#main .explain ul {
	margin:0 0 0 20px;
	line-height:160%;
}
#main .explain a {
	color:#266aae;
}
#main .explain ul li {
	color:#000;
}
#main a {
	color:#266aae;
}
input {
	border:1px solid #ccc;
}
input.sort {
	width:50px;
	height:20px;
}
input.btn {
    border-radius:2px;
    color: #fff;
    font-family: inherit;
    padding:4px 15px;
    text-align: center;
    background:url(btn.png) 0 -120px #1b75b6;
    border:0px;
}
table.list tr {
	height:50px;
	background:url(hr.png) 0px bottom repeat-x;
}
table.list tr th {
	padding-right:40px;
	text-align:left;
}
table.list tr td {
	padding-right:40px;
	text-align:left;
}
table.au input {
	width:300px;
	height:25px;
}
table.au textarea {
	width:300px;
	height:100px;
}
table.au tr {
	background:url(hr.png) 0px bottom repeat-x;
}
table.au tr td {
	text-align:left;
	padding:10px 40px 20px 0;
}
table.au tr td.condition {
	color:#999;
}

